<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test preserve-order="true" name="ApiTest">
        <groups>
            <dependencies>

            </dependencies>
        </groups>
        <classes>
            <class name="com.Tests.ApiTest.SampleApi">
                <methods>
                    <include name="authTest"/>
                    <include name="usertest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>